#startedmodal{
    background-color: blanchedalmond;
}

#loginmodal{
    background-color:lightblue;
}

#signupmodal{
    background-color: lightblue;
}
footer{
    text-align: center;
    background-color: lightslategray;
    color: antiquewhite;
}
#contact{
    background-color: lightblue;
    border: 2px solid black;
}

#contactb{
    border: 2px solid black;
}